$headerBackground : hsl(0, 0, 63);
$priceButtonBackground : hsl(0, 0%, 17%);
$priceButtonText : hsl(0, 23%, 91%);
$border : hsl(0, 71%, 90%);
$veggieColor : hsl(110, 70%, 36%);
$sectionBackground:hsl(0, 7%, 80%);
$sectionBackgroundDark:hsl(0, 1%, 26%);
$textColor: hsl(0, 3%, 12%);
$textColorDark :hsl(0, 22%, 85%);
$darkBackground : hsl(0, 1%, 37%);
$darkHeaderBackground : hsl(0, 1%, 13%);
$darkHeader: hsl(0, 1%, 45%);